# reCAPTCHA v3
NEXT_PUBLIC_RECAPTCHA_SITE_KEY=
RECAPTCHA_SECRET_KEY=

# Pardot
PARDOT_ENDPOINT_REQUEST=https://t.receptionist.jp/l/436112/2026-01-25/8m98g4
PARDOT_ENDPOINT_CONTACT=https://t.receptionist.jp/l/436112/2026-01-26/8m98gm

# Slack (separate webhooks for request/contact)
SLACK_WEBHOOK_REQUEST=
SLACK_WEBHOOK_CONTACT=
